# LPA model checkpoint
original_repo/preprocessed_data_program/
preprocessed_data_program.zip

# BERT checkpoint
original_repo/code/snapshot.zip
original_repo/code/outputs_fact-first_horizontal/
original_repo/code/outputs_fact-first_horizontal_snapshot/